<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.16.1" targetFramework="net45" />
  <package id="Braintree" version="2.27.0" targetFramework="net45" />
  <package id="Deerso.Common" version="2.1.2" targetFramework="net45" />
  <package id="Deerso.Data.EntityFramework" version="1.9.0" targetFramework="net45" />
  <package id="Deerso.Domain" version="1.10.0" targetFramework="net45" />
  <package id="Deerso.Payments" version="3.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>